.SidePanel.fold .SidePanel-overlay {
  z-index: 1;
  background-color: rgba(255, 255, 255, .6);
}

.SidePanel.fold .SidePanel-content {
  transform: translateX(0);
}

.SidePanel .SidePanel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.SidePanel .SidePanel-content {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  height: 100%;
  min-width: 40%;
  max-width: 100%;
  background-color: #fff;
  transition: all .3s ease;
  transform: translateX(105%);
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 4px 4px 20px 0 rgba(0,0,0,.5);
}
.SidePanel .SidePanel-content .SidePanel-header {
  padding: 20px;
}
.SidePanel .SidePanel-content .SidePanel-body {
  padding: 20px;
  padding-top: 0;
}
