/* success: '#87D068',
 * info: '#2DB7F5',
 * danger: '#FF5500',
 * default: '#CCCCCC',
 */

.Dot {
  font-size: 20px;
  line-height: 1;
  margin-right: 5px;
  vertical-align: -2px;
}
.Dot-success { color: #87D068 }
.Dot-info { color: #2DB7F5 }
.Dot-danger { color: #FF5500 }
.Dot-default { color: #CCCCCC }
